body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
  color: #fff;
}

.wrapper {
  width: 414px;
  height: 736px;
  background-color: #131313;
}

.main {
  display: flex;
  justify-content: center;
}

.main__logo {
  margin-top: 20px;
  width: 100px;
}

.menu_cross {
  float: right;
  margin-right: 35px;
  margin-top: -75px;
}

.header__logo {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 30px;
}

.header__menu-link, .movies-item-link {
  text-decoration: none;
  color: #fff;
}

.header__profile-link {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.header__profile {
  display: flex;
  margin: 0 auto;
  max-width: 245px;
  margin-top: 30px;
}

.header__profile-img {
  max-width: 75px;
  border-radius: 50%;
  max-height: 75px;
}

.header__profile-text {
  margin-left: 20px;
  line-height: 8px;
}

.header__profile-name {
  font-size: 15px;
}

.header__profile-subscription,
.header__profile-valid {
  font-size: 12px;
}

.header__nav {
  margin: 50px auto;
  max-width: 245px;
}

.active::before {
  content: ' \25CF';
  color: #F64640;
  font-size: 7px;
  margin-left: -14px;
  margin-right: 6px;
  vertical-align: 50%;
}

.header__nav-item {
  font-size: 20px;
}

.header__nav-small {
  margin: 80px auto;
  max-width: 245px;
}

.header__nav-small-item {
  font-size: 15px;
  margin: 0;
}

.history {
  opacity: 70%;
  margin-bottom: 10px;
}

.header__profile, .header__nav, .header__nav-small {
margin-left: 40px;
}
