body {
    margin: 0;
    background-color: #1C1C1E;
    overflow: hidden;
    height: 100vh;
    color: #fff;
}

.header {
    max-width: 20vw;
    height: 100vh;
    background-color: #131313;
}

.header__logo {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;
}

.header__menu-link {
    text-decoration: none;
    color: #fff;
}

.header__profile-link {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.header__profile {
    display: flex;
    margin: 0 auto;
    max-width: 245px;
    margin-top: 60px;
}

.header__profile-img {
    max-width: 100px;
    border-radius: 50%;
    max-height: 100px;
}

.header__profile-text {
    margin-left: 20px;
    line-height: 10px;
    margin-top: 5px;
}

.header__profile-name {
    font-size: 20px;
}

.header__profile-subscription, .header__profile-valid {
    font-size: 15px;
    margin: 0;
    text-align: center;
}

@media (max-width : 414px) {
    .header {
        display: none;
    }
    .main__scrollbar {
        display: none;
    }
    .main__search {
        display: none;
    }
    .main__filter {
        display: none;
    }
    .movies-item {
        max-height: 139px;
        max-width: 97px;
    }
    .wrapper {
        margin: 0;
    }
    .movies {
        margin-left: 10%;
    }
    .movie-item-4,.movie-item-5,.movie-item-6,.movie-item-7 {
        display: none;
    }
    .movies-item-image {
        border-radius: 15px;
        max-width: 96px;
        max-height: 139px;
    }
    .movies-item-text {
        display: none;
    }
}
