body {
  margin: 0;
  padding: 0;
  background-image: url("img/header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header {
  margin-top: 30px;
  position: fixed;
  width: 100%;
}

.header--logo {
  float: left;
  width: 100px;
  height: auto;
  margin-left: 150px;
}

.header--button {
  margin-top: 35px;
  margin-right: 150px;
  background-color: #F64640;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  float: right;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.our-story {
  color: #fff;
  text-align: center;
  max-width: 480px;
  margin: 0 auto;
  padding-top: 20%;
}

.our-story--title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.our-story--text {
  font-size: 24px;
  font-weight: 400;
  margin-top: 5px;
}
