body {
  margin: 0;
  padding: 0;
  background-image: url("img/header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
}


.page {
  height: 100vh;
}

.header {
  margin-top: 30px;
  position: fixed;
  width: 100%;
}

.header--logo {
  float: left;
  width: 100px;
  height: auto;
  margin-left: 150px;
}

.header--button {
  margin-top: 35px;
  margin-right: 150px;
  background-color: #F64640;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  float: right;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
  cursor: pointer;
}

.our-story {
  color: #fff;
  text-align: center;
  max-width: 480px;
  margin: 0 auto;
  padding-top: 350px;
}

.our-story--title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.our-story--text {
  font-size: 24px;
  font-weight: 400;
  margin-top: 5px;
}

.register {
 max-width: 525px;
 margin: 0 auto;
}

::-webkit-input-placeholder { /* Edge */
  color: #000;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #000;
  opacity: 1;
}

::placeholder {
  color: #000;
  opacity: 1;
}

input[type=email] {
 height: 55px;
 width: 360px;
 padding-left: 10px;
 color: #000;
 border-radius: 10px;
 border: none;
 padding-right: 10px;
 font-size: 14px;
}

.register--button {
  border: none;
  background-color: #F64640;
  color: #fff;
  margin-top: 10px;
  padding: 17px 25px 17px 25px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: -11px;
  top: 50%;
  transform: translatey(6%);
  transition: 0.3s;
  cursor: pointer;
}

.register--button:hover , .header--button:hover {
  background-color: rgb(247, 41, 34);
}

.featured-half  {
  background-color: #131313;
  padding-top: 150px;
  height: 40vh;
}

.featured-half-info {
  max-width: 450px;
  padding-top: 50px;
}

.featured-half--title {
  font-size: 48px;
  margin: 0;
}

.featured-half--text {
  font-weight: 400;
  font-size: 24px;
}

.featured-half--image {
  max-width: 480px;
}

.featured-right {
  float: right;
  padding-right: 450px;
}

.featured-left {
  float: left;
  padding-left: 450px;
}

.featured-half-two {
  max-width: 420px;
}

.featured-half-second {
  padding-bottom: 60px;
}

.cta {
  padding-top: 200px;
  padding-bottom: 200px;
}

.register--text {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

@media (max-width : 414px) {
  .header--logo {
    margin-left: 50px;
  }
  .header--button {
    margin-right: 50px;
  }
  .featured-left {
    padding-left: 0;
  }
  .featured-half--image {
    max-width: 350px;
  }
}
